/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding */
body {
  padding-top: 60px;
  color: #5a5a5a;
}


/* progress bar */

.progress {
    height: 250px;
    background-color: inherit;
}

.progress > svg {
    height: 100%;

}
